<% @posts.each do |post| %>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	     
	      <div class="caption">
	     
				
	   			<h3><%= link_to post.title, post %></h3>

	        <p><%= post.body.html_safe %></p>
			
	     
	        <p>
		        <div href="#" class="btn btn-default" role="button"><%= link_to 'edit', edit_post_path(post) %></div> 
		        <div href="#" class="btn btn-default" role="button"><%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %></div>
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>
