<h1>
	<%= @post.title %>
</h1>
<p>
	<%= link_to 'edit', edit_post_path %> |
	<%= link_to 'destroy', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
<hr>
<p>
	<%= @post.body %>
</p>