/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'normalize';




h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body{
	font-family: 'Roboto', sans-serif;
	background: #f5f5f5;
	}

	#main-body{
		width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
		
		.navbar{
			font-size: 17px;
    	font-weight: bold;
			background: #f5f5f5;

			.navbar-right{
				margin-right: 110px;

			}
			.navbar-left{
				margin-right: 110px;
				.logo{
					font-size: 20px

				}

			}

		}
    #sidebar{
		  width: 210px;
	    padding: 9px;
	    float:right;

	    .sidebar-content{
	    	text-align: left;
		    padding: 2px 0 0 6px;
		    margin-bottom: 20px;

		    .sidebar-title{
					border-bottom: 1px solid #f5f5f5;
					font-size: 20px;
		    }

		    .category-list{
		    	padding: 0;
			    margin: 0 0 0 10px;
			    list-style: none inside;

			    li{
			    	margin:6px 0;
			    }
		    }
	    }
		}

		#main-post{
			float: left;
			width: 726px;
			.post{
				border-radius: 5px;
		    border: 1px solid #f5f5f5;
		    box-shadow: 0 1px 3px;
		    clear: both;
		    margin: 0 auto 30px;
		    overflow: hidden;
		    padding: 14px 22px;
		    background: white;

		    .post-header{
		    	position: relative;
			    padding: 14px 6px;
			    border-bottom: 1px solid #f5f5f5;

			  	.title{
				    font-size: 30px;
				    font-weight: bold;

				    a{
				    	color: black;
				    }
			  	}

			  	.post-info{
			  		float: right;
				    color: grey;
				    font-weight: 600;
				    font-size: 13px;
			  	}
			  }

		  	.body{
		  		margin-top: 20px;
		  		font-size: 14px;
		  	}

		  	.btn-group{
		  		margin-top: 20px;
		  	}
			}

		}

		.comments{
			.comment{
				  width: 100%;
			    border-bottom: 1px solid #e4e4e4;
			    overflow: hidden;
			    margin: 0;
			    padding: 10px;
			    list-style: none;
				.name{
			    font-size: 20px;
			    font-weight: 600;
				}

				.comment-body{

				}
			}
			.comment-text-area{
				    width: 600px;
    height: 200px;
			}
		}


	}


