<h1>all Category</h1>
<% @categories.each do |category| %>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">	     
	      <div class="caption">
	   			<h3><%= category.name %> </h3>

	        <p>
		        <div href="#" class="btn btn-default" role="button"><%= link_to 'edit', edit_category_path(category) %></div> 
		        <div href="#" class="btn btn-default" role="button"><%= link_to 'delete', category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %></div>
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
	<% end %>